@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans Thai", "IBM Plex Sans", sans-serif;
}

html {
  font-family: var(--font-sans);
}

body {
  background-color: #9ACBD0;
}

input:focus {
  outline-color: black;
}

select:focus {
  outline-color: black;
}